---
:proto: https
:host: foreman.example.com
:port: 443
# if using http with ssl certificates
:ssl_ca: "/etc/foreman-proxy/foreman_ssl_ca.pem"
:ssl_cert: "/etc/foreman-proxy/foreman_ssl_cert.pem"
:ssl_key: "/etc/foreman-proxy/foreman_ssl_key.pem"
# if using http with username and password instead of https with certicates
#:username: admin
#:password: changeme
:timeout:  10
:salt:  /usr/bin/salt
:upload_grains:  true
